address=/api.ocp4poc.example.com/172.27.14.229
address=/api-int.ocp4poc.example.com/172.27.14.229
address=/.apps.ocp4poc.example.com/172.27.14.229

address=/bootstrap.ocp4poc.example.com/192.0.2.29
ptr-record=29.2.0.192.in-addr.arpa,bootstrap.ocp4poc.example.com

address=/master-0.ocp4poc.example.com/192.0.2.24
ptr-record=24.2.0.192.in-addr.arpa,master-0.ocp4poc.example.com
address=/etcd-0.ocp4poc.example.com/192.0.2.24

address=/master-1.ocp4poc.example.com/192.0.2.25
ptr-record=25.2.0.192.in-addr.arpa,master-1.ocp4poc.example.com
address=/etcd-1.ocp4poc.example.com/192.0.2.25

address=/master-2.ocp4poc.example.com/192.0.2.30
ptr-record=30.2.0.192.in-addr.arpa,master-2.ocp4poc.example.com
address=/etcd-2.ocp4poc.example.com/192.0.2.30

srv-host=_etcd-server-ssl._tcp.ocp4poc.example.com,etcd-0.ocp4poc.example.com,2380
srv-host=_etcd-server-ssl._tcp.ocp4poc.example.com,etcd-1.ocp4poc.example.com,2380
srv-host=_etcd-server-ssl._tcp.ocp4poc.example.com,etcd-2.ocp4poc.example.com,2380

address=/worker-0.ocp4poc.example.com/192.0.2.28
ptr-record=28.2.0.192.in-addr.arpa,worker-0.ocp4poc.example.com

address=/worker-1.ocp4poc.example.com/192.0.2.27
ptr-record=27.2.0.192.in-addr.arpa,worker-1.ocp4poc.example.com

# address=/worker-2.ocp4poc.example.com/192.0.2.0
# ptr-record=0.2.0.192.in-addr.arpa,worker-2.ocp4poc.example.com

# address=/worker-3.ocp4poc.example.com/192.0.2.0
# ptr-record=0.2.0.192.in-addr.arpa,worker-3.ocp4poc.example.com

# address=/worker-4.ocp4poc.example.com/192.0.2.0
# ptr-record=0.2.0.192.in-addr.arpa,worker-4.ocp4poc.example.com
